\t
SET max_parallel_workers_per_gather=4;
SET parallel_setup_cost = 10;
SET parallel_tuple_cost = 0.001;
DO $$
BEGIN
    IF current_setting('server_version_num')::int >= 160000 THEN
        EXECUTE 'SET debug_parallel_query = on';
    ELSE
        EXECUTE 'SET force_parallel_mode = on';
    END IF;
END $$;

CREATE TABLE {{ type_name }}_parallel(v {{ type_name }}) WITH (parallel_workers = 4);
INSERT INTO {{ type_name }}_parallel(v)
	SELECT values.v
	FROM generate_series(1,1e4) i,
	LATERAL (SELECT v FROM {{ type_name }}_table ORDER BY random() LIMIT 1) values;

EXPLAIN (costs off, verbose)
SELECT COUNT(*) FROM {{ type_name }}_parallel WHERE v = '{{ type_values[0].name }}';

EXPLAIN (costs off, verbose)
SELECT v, COUNT(*) FROM {{ type_name }}_parallel GROUP BY 1;

